/* Main css */

.main {
  /* width: 90vw;
  margin: 0 auto; */
}

.sectionWorks,
.sectionSkills {
  width: 90vw;
  margin: 0 auto;
}

.sectionWorks,
.sectionSkills,
.sectionProfile {
  margin-top: 32px;
}

/* section works */
.sectionWorks .row:nth-child(1) {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sectionWorks .row:nth-child(2) {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sectionWorks .column {
  width: 300px;
  margin: 18px 0;
  border-radius: 18px;
  background-color: rgb(54, 54, 54);
  position: relative;
}

.sectionWorks .column:hover {
  transform: translateY(-5px);
  transition: transform 0.3s;
}

.sectionWorks .column::before {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 18px;
  background-color: white;
  z-index: -1;
}

.sectionWorks .column::after {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 18px;
  background-color: white;
  z-index: -2;
  filter: blur(10px);
}

.sectionWorks .column::before,
.sectionWorks .column::after {
  background: linear-gradient(
    235deg,
    rgb(24, 24, 24),
    rgb(54, 54, 54),
    rgb(24, 24, 24)
  );
}

.sectionWorks .column .workImage {
  width: 100%;
  border-radius: 18px;
  overflow: hidden;
  vertical-align: bottom;
}

.sectionWorks .column .workImage .work-01 {
  width: 100%;
}

.sectionWorks .column .content {
  display: flex;
  flex-direction: column;
}

.sectionWorks .column .content h3 {
  margin: 18px 0;
  align-self: center;
}

.sectionWorks .column .content a.btn {
  border: 1px solid white;
  margin: 18px 0;
  align-self: flex-end;
  border-radius: 18px;
  padding: 9px;
  transition: all 0.2s linear;
}

.sectionWorks .column .content a.btn:hover {
  color: black;
  background-color: rgb(219, 219, 219);
  border: 1px solid rgb(61, 61, 61);
}

/* select skills */
.selectSkills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem 0;
  font-size: 0.7rem;
}
@media (min-width: 360px) {
  .selectSkills {
    font-size: 0.8rem;
  }
}
@media (min-width: 410px) {
  .selectSkills {
    font-size: 0.9rem;
  }
}

.selectSkills .selectSkill:hover {
  cursor: pointer;
  transform: translateY(-2px);
  border-bottom: 1px solid rgba(248, 131, 131, 0.781);
  transition: all 0.2s linear;
}

.focus {
  color: rgb(240, 74, 74);
  border-bottom: 1px solid rgba(248, 131, 131, 0.781);
}

/* section skills */
.sectionSkills {
}

/* .sectionSkills .row:nth-child(1) {
  display: flex;
  align-items: center;
  flex-direction: column;
} */

.sectionSkills .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.sectionSkills .column {
  width: 300px;
  padding: 9px;
  margin: 18px 0;
  border-radius: 9px;
  text-align: center;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.596),
    rgba(59, 59, 59, 0.103),
    rgba(0, 0, 0, 0.596)
  );
  display: flex;
  align-items: center;
}

.sectionSkills .column .skillName {
  width: 110px;
  text-align: center;
}

.sectionSkills .column .percentValue {
  width: 40px;
  text-align: left;
}

.sectionSkills .column .percentage {
  /* Check later about percentage margin */
  width: calc(100% - 150px);
  height: 10px;
  margin-right: 4px;
  border-radius: 9px;
  background: linear-gradient(to right, rgb(141, 141, 141), rgb(63, 63, 63));
}

.sectionSkills .column .progress {
  height: 10px;
  border-radius: 9px;
  background: linear-gradient(to right, white, red);
  /* animation: animate 2s ease-in-out forwards; */
}

/* @keyframes animate {
  from {
    width: 0;
  }
} */

/* section profile */
.sectionProfile {
  width: 100vw;
}

.sectionProfile .row:nth-child(1) {
  text-align: center;
}

.sectionProfile .row:nth-child(2) {
  margin: 2rem 0;
  padding: 1rem;
  background-color: rgba(175, 175, 175, 0.178);
  display: flex;
  overflow-x: scroll;
  /* justify-content: space-around; */
}

.sectionProfile .row:nth-child(2) .col {
  background-color: rgb(54, 54, 54);
  border-radius: 0.3rem;
  padding: 1rem;
  margin: 0 1rem;
  min-width: 300px;
  box-shadow: 6px 6px 2px 1px rgba(173, 173, 173, 0.144);
}

/* .sectionProfile .row:not(:nth-child(1)) {
  height: 50vh;
} */

@media (min-width: 800px) {
}
